
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  	background-color: #ffffff;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
h1 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
	text-align: center;
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.text-changes {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 18px;
}

.centered {
    text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;
}

.navbar-inverse {
	padding-bottom: 50px;
	padding-top: 50px;
}

.navbar-inverse {
	background-color: #1abc9c;
	border-color: #16a085;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
	font-size: 24px;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #222222;
}

.navbar-brand {
	font-weight: 700;
	font-size: 35px;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.progress-bar-theme {
  background-color: #1abc9c;
}

.in-progres {
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-me {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #f2f2f2;
}

.footer {
	background-color: #2f2f2f;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 18px;
}

.footer p {
	color: white;
}

.icon {
    display:block; 
    position:relative; 
    overflow:hidden;
	width: 70%;
	margin-bottom: 15px;
}
.container-social {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
}
.skills-interests {
	background:#D3D0C9 ;
}
.social-ikons {
	text-align: center;
	color: white;
	font-size: 16px;
	margin-bottom: 15px;
}
.interests {
	font-size: 28px;
	text-align: center;
	text-decoration: none;
}
.skills {
	font-size: 28px;
	text-align: center;
}
.skills-interests ul li {
	list-style-type: none;
}
.social-ikons:hover {
	transform: scale(1.1);
	transition: 0.1s ease-in-out;
}